<div id="<%= dom_id calculation %>">
  <p>
    <strong>Num1:</strong>
    <%= calculation.num1 %>
  </p>

  <p>
    <strong>Opt:</strong>
    <%= calculation.opt %>
  </p>

  <p>
    <strong>Num2:</strong>
    <%= calculation.num2 %>
  </p>

</div>
